[submodule "music21"]
	path = music21
	url = https://github.com/float3/music21.git
	branch = master
[submodule "hexatone"]
	path = hexatone
	url = https://github.com/float3/hexatone.git
	shallow = true
	branch = fix-scala-file-headers
